.header {
    width: 100%;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(34, 192, 240);
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .title {
    float: left;
  }
  
  .scores {
    float: right;
  }